@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background: #020436;

    --color-primary: #050746;
    --color-secondary: #0D1073;
    --color-tertiary: #2d56d1;

    --color-muted: #02032369;

    --color-primary-text: #FFFFFF;
    --color-secondary-text: #C4C4C4;

    --color-success: #17833f;
    --color-error: #f52525;
}

body {
    background-color: var(--color-background);
}

.button-action {
    @apply text-sm px-3 md:px-3.5 py-1.5 md:py-2 font-medium rounded-md bg-tertiary text-primary-text;
}